[submodule "oxyplot"]
	path = oxyplot
	url = https://github.com/total-world-domination/oxyplot.git
	branch = develop
[submodule "NotLimited.Framework"]
	path = NotLimited.Framework
	url = https://github.com/olegtarasov/NotLimited.Framework.git
